<!DOCTYPE html>
<html>
<head>
<style>

body { 
	background-image: url("https://jooinn.com/images/wrinkled-paper-texture-7.jpg");
}

h1 {
  color: black;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 35px;
}

p {
  font-family: verdana;
  text-align: center;
  font-size: 15px;
}

ul {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

li {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-family: "Arial Narrow";
  text-align: center;
  font-size: 20px;
}

h4 {
  font-family: "Arial Narrow";
  text-align: center;
  font-size: 20px;
}

div.container {
  text-align: center;
}

ul.zajecia {
  display: inline-block;
  text-align: center;
}

ul.linki {
  display: inline-block;
  text-align: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}

</style>
</head>
