<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>

body { 

}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1.57px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
}

ul {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

li {
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.57px;
}

h3 {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

h4 {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}

div.container {
  text-align: center;
}

ul.lista {
  display: inline-block;
  text-align: center;
}

ul.linki {
  display: inline-block;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  opacity: 0.6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}
</style>
</head>
